<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login Page</title>
    </head>
    <body>
        <div> 
            <h3>Test App</h3>
            <a href="/index">Home</a>
            <a href="/login">Login</a>
        </div>

        <div>
            <h1>Registration</h1>
            <form action="/users/register" method="post">
                {% csrf_token %}
                <p>First Name:<input class="fields" type="text" name="first_name"></p>
                <p>Last Name:<input class="fields" type="text" name="last_name"></p>
                <p>Email:<input class="fields" type="text" name="email"></p>
                <p>Password:<input class="fields" type="password" name="password"></p>
                <p>Confirm Password:<input class="fields" type="password" name="confirm_password"></p>
                <input class="btn" type="submit" value="Register"></p>
            </form>
        </div>
        <div id="errors">
            {% if messages %}
                {% for message in messages %}
                    <h3>{{message}}</h3>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>